/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:500");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box; }

header {
  border-bottom: 1px solid; }
  header > div {
    display: flex;
    justify-content: space-between; }

#hamburger-menu {
  text-indent: -10000rem;
  position: relative;
  width: 40px;
  height: 20px;
  align-self: center;
  background: none; }
  #hamburger-menu::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background-color: #576366;
    top: 0rem; }
  #hamburger-menu::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background-color: #576366;
    top: 0.5rem; }
  #hamburger-menu span::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background-color: #576366;
    top: 1.0rem; }

#title {
  font-size: 36px;
  font-family: 'Cormorant Garamond', serif; }

#title span {
  display: block;
  font-size: 24px;
  margin-bottom: 10px; }

body {
  margin: 3% 5%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
  color: #576366; }

h2 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px; }

#proj-title {
  text-align: center;
  margin: 10px;
  font-weight: bold; }

a {
  text-decoration: none; }

a:link, a:visited {
  color: #777; }

h3 {
  display: inline;
  margin-right: 10px;
  font-size: 20px; }

footer {
  border-top: 1px solid;
  margin-top: 20px; }

footer p {
  text-align: center;
  margin: 0; }

nav li {
  list-style-type: none; }

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%; }

strong {
  font-weight: bold; }

a.toggle-nav {
  position: relative; }

#menu {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0.3s linear; }
  #menu.active {
    border-top: 1px solid;
    height: 120px;
    opacity: 1; }

#menu li {
  text-align: center; }

#profile-img {
  max-width: 180px;
  max-height: 180px;
  border-radius: 50%;
  order: 2;
  margin: 10px; }

#about {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid; }

#about div {
  display: flex;
  flex-direction: row; }

#social-icons {
  margin-top: 5px;
  text-align: center;
  padding: 3px; }

#social-icons i {
  padding: 8px;
  color: #1f5768; }

#social-icons i:hover {
  color: #f6ee5b; }

#title {
  margin-bottom: 0;
  display: inline; }

#subtitle {
  margin: 0;
  display: inline-block; }

#contact h2 {
  margin-top: 0; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 50px 0;
  border-radius: 15px; }

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400; }

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px; }

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA; }

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none; }

#contact button[type="submit"] {
  cursor: pointer;
  max-width: 50%;
  width: 100%;
  border: none;
  background: #ff5252;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  margin-left: 25%; }

#contact button[type="submit"]:hover {
  background: #09C;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999; }

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.proj-img {
  min-width: 353px;
  min-height: 203px;
  max-width: 50%;
  max-height: 50%; }

#curr-title {
  text-align: center; }

#curr-img {
  border: 2px solid;
  min-width: 353px;
  min-height: 203px;
  max-width: 50%;
  max-height: 50%; }

#prev-proj {
  border-top: 1px solid; }

.contact-container {
  max-width: 900px;
  margin: 0 auto;
  position: relative; }

::-webkit-input-placeholder {
  color: #888; }

:-moz-placeholder {
  color: #888; }

::-moz-placeholder {
  color: #888; }

:-ms-input-placeholder {
  color: #888; }

@media (min-width: 776px) {
  #hamburger-menu {
    display: none; }
  header {
    border-bottom: none; }
  main {
    display: flex;
    flex-direction: row; }
  #about {
    max-width: 654px;
    border: none; }
  #menu {
    display: flex;
    justify-content: flex-end; }
  #menu ul li {
    display: inline; }
  #curr-proj {
    display: flex;
    flex-direction: column; }
  #curr-proj p {
    margin-right: 50px; }
  #curr-title h3 {
    text-align: center; } }
