@mixin hamburger-menu-shape {
  display: block;
  // flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  content: '';
  width: 45px;
  height: 5px;
  background-color: #576366;
}
